o@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  background: #674172;
  font-family: 'Ubuntu', sans-serif;  
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: black;
  color:white;
  font-size: 3em;

}

#header img
{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
	display: block;
}

.intro {
  position: absolute;
  width: 100%;
  max-height:30%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;  
  margin-top: .5em;
}
.intro p 
{
color: #20c05c;
}


.fixed-bg {
  font-family: 'Ubuntu', sans-serif;  
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repet;
  background-position: center center;
  height: 100vh; 
  color: white;

}

.parent-vcenter {
  text-align: center;

}

.parent-vcenter:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
  margin-top: -3em;
}

h1,p
{
  font-family: 'Ubuntu', sans-serif;  
}

.child-vcenter {

  display: inline-block;
  vertical-align: middle;
  
}

.fixed-bg.bg-1 {
  background-image: url("http://jumpstart.garlun.net/talleres/bg1.jpg");

}

.fixed-bg.bg-2 {
  background-image: url("http://jumpstart.garlun.net/talleres/bg2.jpg");
  height: 530px;
}

.scrolling-bg { 
  height: 40px;
}


.pad-me {
  padding: 2em;
}


#forma {
  margin-left: 35%;
  width:30%;
}
