@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4em;
	color: #222;
	font-family: 'Julius Sans One', sans-serif;
}

h1
{
    font-size: 46px;
}

header {
	width: 100%;
	height: 5.5em;
	background: #F0F8FF;
	position: fixed;
	z-index: 2;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}


nav {
	width: 100%;
	margin: 0 auto;
}


/* Section Styles */

.section {
    max-width:100%;
	height: 42em;
	padding: 10px;
}

.section h2 {
	color: #fff;
    font-size: 4.5em;
	font-weight: 200px;
	text-align: center;
	padding: 2.5em 0;
}

.one{
	background: #6bb6ff;
}

.two{
	background: #1E90FF;
}

.three{
	background: #8B4789;
}

.four{
	background: #872657;
}

.five
{
    background: #1E9033;
    height: 30em;
}

.img-responsive{
	width: 11em;
	background: #F0F8FF;
	border-radius: 10px;
    border-style: outset; 
    border-width:6px;
	margin-top: -10px;
}
.button{
	text-align:center;
	margin-top:-3em;
}
.button a{
	 display:inline-block;
    color:#FFF;
    font-size:1.2em;
    text-transform:uppercase;
    background:#eb7d4b;
    padding:18px 3em;
    border-bottom:4px solid #c86a40;
    border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
    -webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
.button a:hover{
	background:#F78B5A;
}
.button a:active{
	position:relative;
   	top:5px;
}