@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  margin: 0;
  padding: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148422/screencap-wheel.png) #fff;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}


#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 4.5em;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 1px 1px 1px grey, 1px 1px 4px grey;
  text-align: center;
}

button {
  position: relative;
  border-radius: 5px;
  border: 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: #2980b9;
  padding: .4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button:hover {
  background-color: #3498db;
}
body{
margin: 0 auto;background-color: black;font-family: 'Lato', sans-serif;
}
.navbar{
position: fixed;top: 0;left: 0;width: 100%;height: 50px;
background-color: #3498db;z-index: 2;
}
.navbar span{
color: white; 
font-size: 1.5em;margin: 8px 0 0 0;position: absolute;
}
.container{
max-width: 1000px;width: 100%;margin: 0 auto;position: relative;
}
.content{
position: absolute;top: 0;left: 0;width: 100%;height: auto;z-index: 0;background-color: #ecf0f1;
}
.content p{
margin-top: 100px;color: #7f8c8d;
}

