<!DOCTYPE html>
<html ng-app="store">
<!--META-->

<head>
<meta charset="UTF-8">
<meta name="Portfolio" content="Little Menu for Portfolio">
<meta name="keywords" content="Web Developer">
<meta name="Luis Iván García Luna" content="Information Technologies Engineer">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="http://garlun.net/bootstrap/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="img/logo.png">
<title>Luis Iván García Luna</title>
</head>

<!--Body-->
<header>
      <h1 class="text-center">GEMAS GEMAS</h1>
      <h2 class="text-center">–  Angular store –</h2>
    </header>


 <body class="list-group" ng-controller="StoreController as store">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
      <h1>{{product.name}} 
      <em class="pull-right">{{product.price | currency}}</em></h1>
      <h2>{{product.description}}</h2>

      <!-- Image Gallery  -->
     <div class='gallery' ng-show="product.images.length">
        <img ng-src="{{product.images[0]}}" />
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>


    <!-- TABS -- >
   <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specs</a></li>
          <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Reviews</h4>
        </div>
      </section>



        
            </div>
  </body>

<!--Scripts-->
<script type="text/javascript" src="http://garlun.net/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>